ItemList:([]itemId:({% for x in itemId %}{{x}}{% if loop.index < itemId|length%},{% endif %}{% endfor %}); itemName:({% for x in itemName %}`$"{{x}}"{% if loop.index < itemName|length%};{% endif %}{% endfor %}); itemRarity:({% for x in itemRarity %}`$"{{x}}"{% if loop.index < itemRarity|length%};{% endif %}{% endfor %}); missionName:({% for x in missionName %}`$"{{x}}"{% if loop.index < missionName|length%};{% endif %}{% endfor %}); missionLevel:({% for x in missionLevel %}`$"{{x}}"{% if loop.index < missionLevel|length%};{% endif %}{% endfor %}); runsDone:({% for x in runsDone %}{{x}}{% if loop.index < runsDone|length%},{% endif %}{% endfor %}); itemReturn:({% for x in itemReturn %}{{x}}{% if loop.index < itemReturn|length%},{% endif %}{% endfor %}); itemPerRun:({% for x in itemPerRun %}{{x}}{% if loop.index < itemPerRun|length%},{% endif %}{% endfor %}))

update itemPerRun:`float$itemPerRun from `ItemList;