missionId:({% for x in missionId %}{{x}}{% if loop.index < missionId|length%},{% endif %}{% endfor %})
missionName:({% for x in missionName %}`$"{{x}}"{% if loop.index < missionId|length%};{% endif %}{% endfor %})
missionCost:({% for x in missionCost %}{{x}}{% if loop.index < missionCost|length%},{% endif %}{% endfor %})
missionType:({% for x in missionType %}`$"{{x}}"{% if loop.index < missionType|length%};{% endif %}{% endfor %})
missionLocationFull:({% for x in missionLocationFull %}`$"{{x}}"{% if loop.index < missionLocationFull|length%};{% endif %}{% endfor %})
missionLocationShort:({% for x in missionLocationShort %}`$"{{x}}"{% if loop.index < missionLocationShort|length%};{% endif %}{% endfor %})

Mission:([missionId:({% for x in missionId %}{{x}}{% if loop.index < missionId|length%},{% endif %}{% endfor %})] missionName:({% for x in missionName %}`$"{{x}}"{% if loop.index < missionName|length%};{% endif %}{% endfor %}); missionRarity:({% for x in missionRarity %}`$"{{x}}"{% if loop.index < missionRarity|length%};{% endif %}{% endfor %}); missionCost:({% for x in missionCost %}{{x}}{% if loop.index < missionCost|length%},{% endif %}{% endfor %}); missionType:({% for x in missionType %}`$"{{x}}"{% if loop.index < missionType|length%};{% endif %}{% endfor %}); missionLocationFull:({% for x in missionLocationFull %}`$"{{x}}"{% if loop.index < missionLocationFull|length%};{% endif %}{% endfor %}); missionLocationShort:({% for x in missionLocationShort %}`$"{{x}}"{% if loop.index < missionLocationShort|length%};{% endif %}{% endfor %}))